// Variables and Mixins
@import 'variables.less';
@import 'mixins.less';

// Reset and Global Styles
@import 'reset.less';
@import 'global.less';

// Reusable components
@import 'navigation.less';
@import 'footer.less';

// Page Specific
@import 'home-page.less';

#click {
  background-color: rgba(1, 226, 50, 0.486);
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px;
  color: rgb(13, 40, 41);
}

.black {
  background-color: black;
  color: rgb(126, 126, 126);
}

.blue {
  background-color: rgb(28, 51, 126);
  color: rgb(148, 148, 148);
}

.red {
  background-color: rgb(238, 78, 78);
  color: rgb(202, 167, 200);
}

.green {
  background-color: rgb(12, 107, 36);
  color: rgb(255, 177, 132);
}

.white {
  color: black;
  background-color: white;
}

.off {
  display: none;
}

// .modal {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .modal-opacity {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgb(225, 236, 225);
//   opacity: 70%;
// }

// .modal-dialog {
//   position: relative;
//   background-color: white;
//   width: 30vw;
//   height: 20vh;
//   background-color: white;
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   border: 1px solid rgb(180, 182, 180);
//   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
// }

// Blur background
.blur   {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
